<div class="container">
    <h2>Client accounts</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <input type="text" [(ngModel)]="filterValue" (input)="applyFilter(filterValue)"  placeholder="Search...">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="exportToCsv()">Export CSV</button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let column of getDisplayedColumns()">
            {{ column | titlecase }}
          </th>
          <!-- <th>ID</th>
          <th>Account Number</th>
          <th>Description</th>
          <th>Balance</th>
          <th>Opening Date</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accountsFilter; trackBy: trackByItemId">
          <td class="col-md-1">{{account.id}}</td>
          <td *ngIf="isUserLoggedIn">{{ account.accountNumber }}</td>
          <td>{{ account.description }}</td>          
          <td *ngIf="isUserLoggedIn" class="amount-column col-md-2">{{ account.balance }} {{ account.currency }}</td>
          <td *ngIf="isUserLoggedIn" class="opening-date-column col-md-2">{{ account.openingDate }}</td>          
        </tr>
      </tbody>
    </table>
  </div>
  